data/raw/**

data/cats/*
!data/cats/1.jpg
!data/cats/2.jpg
!data/cats/3.jpg
!data/cats/4.jpg
!data/cats/5.jpg
!data/cats/6.jpg
!data/cats/7.jpg
!data/cats/8.jpg
!data/cats/9.jpg
!data/cats/10.jpg

data/dogs/*
!data/dogs/1.jpg
!data/dogs/2.jpg
!data/dogs/3.jpg
!data/dogs/4.jpg
!data/dogs/5.jpg
!data/dogs/6.jpg
!data/dogs/7.jpg
!data/dogs/8.jpg
!data/dogs/9.jpg
!data/dogs/10.jpg

data/cars/*
!data/cars/1.jpg
!data/cars/2.jpg
!data/cars/3.jpg
!data/cars/4.jpg
!data/cars/5.jpg
!data/cars/6.jpg
!data/cars/7.jpg
!data/cars/8.jpg
!data/cars/9.jpg
!data/cars/10.jpg

data/emergency_vehicle/*


